# Virtual environments
.venv/
venv/
env/

# Python bytecode
*.pyc
__pycache__/

# Local settings and environment variables
local_settings.py
.env

# Database files
db.sqlite3

# Media and static files
media/
static/

# Logs
*.log

# Editor/IDE specific files
.vscode/
.idea/

# Other temporary files
*.pot